.App{
    display: flex;
    width:100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
}
.multiStepForm{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 50px;
    margin: 20px;
}
.container{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}